h1.search {background:gray; text-align:center; font-size: 45pt; margin-top:10px; padding-top:20px;
	 font-weight: bold; color: blue; font-style: italic; font-family: fantasy,sans-serif;
	 text-shadow: aqua;}
img.small-logo{width:140px; height:140px; float:right;}
a.logout1{text-decoration: blink;text-align: center;color: blue; magin-top:10px;font-size: 16pt;font-weight:bold;}
div.search1{font-size:13pt; font-weight:bold; border-style:outset; width:80%; height:100%; margin-left:120px;
	 background-color: silver;  margin-top:10px;}
	 p.search{margin-left:30px;font-size:16pt;font-weight:bold;font-family: cursive;}
nav.menu{float: left; font:13pt;font-style: italic;text-decoration:none;
font-family: cursive;  font-weight: bold; width:250px; height:300; text-align:center;}

	 input.textbox22 {width: 350px; height: 30px; font-size: 13pt; font-weight: normal;font-family:sans-serif; 
	 border-style: double;background-color: white; font-style: normal;margin-left:66px;}
	  input.textbox11 {width: 350px; height: 30px; font-size: 13pt; font-weight: normal;font-family:sans-serif; 
	 border-style: double;background-color: white; font-style: normal;margin-left:40px;}
	nav.logout1{float: right;margin-right: 30px;border-style: double;border-color:black; font:12pt;font-style: italic;
font-family: cursive;  font-weight: bold; width:180px; height:65px; text-align:left;margin-top:15px;}
nav.logout{float: right;margin-right: 30px;border-style: double;border-color:black; font:13pt;font-style: italic;
font-family: cursive;  font-weight: bold; width:180px; height:35px; text-align:center;margin-top:15px;}
 input.button1{width: 100px; height: 30px; font-size: 12pt; font-weight: bold;font-family:cursive; 
	 border-style: double;background-color: white; font-style: italic; float: right; margin-right: 210px; margin-top:15px;}
	 input.button2{width: 100px; height: 30px; font-size: 11pt; font-weight: bold;font-family:cursive; 
	 border-style: double;background-color: white; font-style: italic;  margin-top:70px; margin-left:40px;}
	 input.button3{width: 120px; height: 30px; font-size: 11pt; font-weight: bold;font-family:cursive; 
	 border-style: double;background-color: white; font-style: italic;   margin-top:70px; margin-left:50px;}
	 input.button4{width: 100px; height: 30px; font-size: 11pt; font-weight: bold;font-family:cursive; 
	 border-style: double;background-color: white; font-style: italic;  margin-top:70px;margin-left: 40px; }
>>>>>>> FETCH_HEAD
table.altrowstable {
	font-size:15px;
	color:#333333;
	border-width: 1px;
	border-color: #000000;
	border-collapse: collapse;
}
table.altrowstable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #000000;
}
table.altrowstable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #000000;
}
.oddrowcolor{
	background-color:#E0E0E0;
}
.evenrowcolor{
	background-color:#CACACA;
}



