h1.search {background:gray; text-align:center; font-size: 45pt; margin-top:10px; padding-top:20px;
	 font-weight: bold; color: blue; font-style: italic; font-family: fantasy,sans-serif;
	 text-shadow: aqua;}
img.small-logo{width:140px; height:140px; float:right;}
div.menu1{font-size:13pt; font-weight:bold; border-style:outset; width:80%; height:100%; margin-left:120px;
	 background-color: silver;  margin-top:10px;}
div.search1{font-size:13pt; font-weight:bold; border-style:outset; width:500; height:400; margin-left:360px;
	 background-color: silver;  margin-top:10px;}
	 p.search{margin-left:30px;font-size:16pt;font-weight:bold;font-family: cursive;}
input.buttonS{width: 100px; height: 30px; font-size: 12pt; font-weight: bold;font-family:cursive; 
	 border-style: double; background-color: white; font-style: italic; float: left ; margin-right: 40px;}
input.buttonR{width: 130px; height: 30px; font-size: 12pt; font-weight: bold;font-family:cursive; 
	 border-style: double; background-color: white; font-style: italic; float: left ; margin-right: 20px;}
table.altrowstable {
	font-size:15px;
	color:#333333;
	border-width: 1px;
	border-color: #000000;
	border-collapse: collapse;
}
table.altrowstable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #000000;
}
table.altrowstable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #000000;
}
.oddrowcolor{
	background-color:#E0E0E0;
}
.evenrowcolor{
	background-color:#CACACA;
}



