@CHARSET "UTF-8";
h1.editprofile {background:gray; text-align:center; font-size: 45pt; margin-top:10px; padding-top:20px;
	 font-weight: bold; color: blue; font-style: italic; font-family: fantasy,sans-serif;
	 text-shadow: aqua;}
	 input.editprofile{width: 100px; height: 30px; font-size: 12pt; font-weight: bold;font-family:cursive; 
	 border-style: double;background-color: white; font-style: italic;}
	 input.editprofile1{width: 300px; height:35px; font-size:12pt; font-weight:; border-style:ridge;}
	 input.editprofile2{width: 100px; height: 30px; font-size: 12pt; font-weight: bold;font-family:cursive; 
	 border-style: double;background-color: white;}
	 p.editprofile{margin-left:95px;}
	 form.editprofile{margin-left:95px;}
	 div.editprofile{font-size:13pt; font-weight:bold; border-style:outset; width:57%; margin-left:300px; 
	 background-color: silver;}
	 form.editprofile1{ border-bottom-style: dashed; border-color: blue; font-size: 18pt;font-style: italic;
	 font-family: cursive;font-weight: bold;}
h1.mainlogin {background:gray; text-align:center; font-size: 45pt; margin-top:10px; padding-top:20px;
	 font-weight: bold; color: blue; font-style: italic; font-family: fantasy,sans-serif;
	 text-shadow: aqua;}
	 input.textbox {width: 190px; height: 27px; font-size: 13pt; font-weight: normal;font-family:sans-serif; 
	 border-style: double;background-color: white; font-style: normal;}
	 form.mainlogin{margin-left:95px;}
	 div.right{font-size:13pt; font-weight:bold; border-style:outset; width:350px; height:290px; margin-right:30px; 
	 background-color: silver;float:right;  margin-top:10px; }
	a.mainlogin {font-size:12pt; font-weight:normal; margin-right:10px; float:right;  }
	table.mainlogin{border-color: white;border-style: hidden; height:200px; width:300px; margin-top:20px;margin-left:25px; }
	form.login-right { float: right;}
	aside.small-logo{float: left;margin-top:12px;}
	 img.small-logo{width:140px; height:140px; float:right;}
	 div.small-logo{float:right;}
	 figure.logo{border-style:solid;border-color:blue; width:50%; height: 410px; float:left;}
	 td.head{font-size: 18pt; font-weight: bold;font-family:cursive;  font-style: italic; text-align:center;}
	 td.body{font-size: 13pt; font-weight: bold;font-family:cursive;  font-style: italic; text-align:left;}
	 td.body1{text-align:right; }
	 input.b{hegiht:35px; width: 80px; font-size: 14pt; font-weight:bold; font-family: cursive;font-style: italic;}
	 caption.header{font-size:20pt; font-weight: bold;font-family:cursive;  font-style: italic; text-align:center;}
div.register{font-size:13pt; font-weight:bold; border-style:outset; width:440px; height:500px; margin-left:415px; 
	 background-color: silver;  margin-top:10px;}
	 input.button{width: 100px; height: 30px; font-size: 12pt; font-weight: bold;font-family:cursive; 
	 border-style: double;background-color: white; font-style: italic; float: right; margin-right: 40px;}
	 input.textbox1 {width: 250px; height: 32px; font-size: 13pt; font-weight: normal;font-family:sans-serif; 
	 border-style: double;background-color: white; font-style: normal;}
	 table.register{border-color: white;border-style: ; height:400px; width:400px; margin-top:20px;margin-left:25px; font-size: 13pt; }
div.viewprofile{font-size:13pt; font-weight:bold; border-style:outset; width:500px; height:550px; margin-left:415px; 
	 background-color: silver;  margin-top:10px;}
form.viewporfile{margin-left: 20px;border-style: solid;border-color: silver;}
p.viewprofile{height:70px; border-color: lightgray;border-style:dotted;margin-left:10px; margin-right:10px;}
input.textbox2 {width: 300px; height: 32px; font-size: 13pt; font-weight: normal;font-family:sans-serif; 
	 border-style: double;background-color: white; font-style: normal;margin-left:40px; margin-top:20px;}
	 input.button1{width: 100px; height: 30px; font-size: 12pt; font-weight: bold;font-family:cursive; 
	 border-style: double;background-color: white; font-style: italic; float: right; margin-right: 30px; margin-top:20px;}

nav.logout{float: right;margin-right: 30px;border-style: double;border-color:black; font:13pt;font-style: italic;
font-family: cursive;  font-weight: bold; width:180px; height:35px; text-align:center;margin-top:15px;}
nav.logout1{float: right;margin-right: 30px;border-style: double;border-color:black; font:12pt;font-style: italic;
font-family: cursive;  font-weight: bold; width:180px; height:65px; text-align:left;margin-top:15px;}

a.logout1{text-decoration: blink;text-align: center;color: blue; magin-top:10px;font-size: 16pt;font-weight:bold;}
nav.menu{float: left; font:13pt;font-style: italic;
font-family: cursive;  font-weight: bold; width:250px; height:300; text-align:center;}

div.menu{font-size:13pt; font-weight:bold; border-style:outset; width:90%; height:100%; margin-left:60px;
	 background-color: silver;  margin-top:10px;}
	 h2.subscribe{font-size:20pt;font-style: italic; font-family: cursive;text-align: center;text-shadow: blue;
	 font-weight: bold; color:#493D26;background-color: #F0F8FF;}
	 div.subscribe{font-size:13pt; font-weight:bold; border-style:outset; width:600px; height:400px; margin-left:370px; 
	 background-color: silver;  margin-top:10px;}
	 p.subscribe{margin-left:30px;}
	 form.subscribe{text-align: right; width:500px;}
div.calendar{font-size:13pt; font-weight:bold; border-style:outset; width:850; height:600; margin-left:220px;
	 background-color: silver;  margin-top:10px;}} 
	 table.cal{margin-left:350px; margin-top:15px;}
	 
